@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Work+Sans:ital,wght@0,300;1,300&display=swap');

.material-icons.md-36 { font-size: 36px; color: white;}

html {
  scroll-behavior: smooth;
}
header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.header_title {
 font-family: 'Work Sans', Sans-Serif;
 font-size: 4vmax;
 color: white;
}

.header_subtitle {
 font-family: 'Open Sans', Sans-Serif;
 font-size: 1.75vmax;
 color: white;
}

.content_title {
 font-family: 'Work Sans', Sans-Serif;
 font-size: 3vmax;
 color: black;
}

.content_text {
 font-family: 'Open Sans', Sans-Serif;
 color: black;
}

.work_sans {
 font-family: 'Open Sans', Sans-Serif;
}

.open_sans {
 font-family: 'Open Sans', Sans-Serif;
}