@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

h1{
  font-family: 'Cormorant Garamond', serif;
  font-style:: normal;
  font-weight: 700;
  font-size: 50px;

  text-align: center;
  padding-top: 30px;
  line-height: 0px;
}

h2{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;

  text-align: center;
  line-height: 10px;
}

h3{
  font-family: 'Cormorant Garamond', serif;
  font-style:: normal;
  font-weight: 500;
  font-size: 20px;

  padding-bottom: 20px;
  text-align: center;
}

h5{
  font-family: 'Cormorant Garamond', serif;
  font-style: bold;
  font-weight: 500b;
  font-size: 25px;

  text-align: center;
}

h6{
  font-family: 'Cormorant Garamond', serif;
  font-style:: normal;
  font-weight: 300;
  font-size: 22px;

  text-align: center;
  line-height: 25px;
  margin-bottom: 30px;
}

p{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;

  text-align: center;
}

#homeMenu{
  display: inline-block;
  cursor: pointer;
}

#homeContent{
  display: block;
}

#worksMenu{
  display: inline-block;
  cursor: pointer;
}

#worksContent{
  display: none;
}

#experienceMenu{
  display: inline-block;
  cursor: pointer;
}

#experienceContent{
  display: none;
}

#contactMenu{
  display: inline-block;
  cursor: pointer;
}

#contactContent{
  display: none;
}

#footer{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;

  text-align: center;
}

a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
