.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #FFCC00;
  color: #fff;
}

.copyright {
  background-color: #990000;
}

.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show > .btn-outline-light.dropdown-toggle {
  color: #990000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:hover {
  color: #990000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

