@media (min-width:992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #990000;
  }
}

.bg-secondary {
  background-color: #FFCC00!important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #990000;
}

a:active, a:focus, a:hover {
  color: #990000;
}

a {
  color: #990000;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
  background-color: #6b120a!important;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #ffffff;
}

